[mongo]
enabled = 0
host = 127.0.0.1
port = 27017
database = my.database
collection = my.collection

[smtp]
enabled = 0
server = smtp.example.com:587
login = wiper@example.com
password = smptpassword
to = admin@example.com
from = wiper@example.com

[amapi]
enabled = 0
server = https://127.0.0.1/api/v1/
token = XxXxXxXxX

[chatapi]
enabled = 0
endpoint = "https://127.0.0.1/api/v1/"
authorization = ""
headers = "{}"
method = "POST"
